{% extends 'front/layout.html.twig' %}

{% block content %}
    <div class="shortcode-login-regi-area pt-113 pb-120 black-bg-4 breadcrumb-area default-overlay-2"
         style="background-image: url('../img/delivery.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-md-12 col-12">
                    <div class="pl-30 pr-30">
                        <div class="login-regi-wrapper">
                            <div class="login-register-tab-list nav text-center">
                                <h4 style="width: 100%; color: #882C83;">Devenez coursier partenaire</h4>
                            </div>
                            <div class="tab-content login-regi-content">
                                <div id="login" class="tab-pane active">
                                    <div class="login-register-form">
                                        {{ form_start(form) }}
                                        {{ form_errors(form) }}
                                        <div class="formulaire">
                                            {{ form_row(form.email) }}
                                        </div>
                                        <div class="formulaire">
                                            {{ form_row(form.firstname) }}
                                        </div>
                                        <div class="formulaire">
                                            {{ form_row(form.lastname) }}
                                        </div>
                                        <div class="formulaire">
                                            {{ form_row(form.phone) }}
                                        </div>
                                        <div class="formulaire">
                                            {{ form_row(form.password) }}
                                        </div>
                                        <div class="formulaire">
                                            {{ form_row(form.city) }}
                                        </div>
                                        <div class="submit-btn">
                                            <button class="btn-hover" type="submit">ENVOYER</button>
                                        </div>
                                        {{ form_end(form) }}
                                        <!--<form action="#" method="post">
                                            <input type="text" name="email" placeholder="Email">
                                            <input type="text" name="prenom" placeholder="Prénom">
                                            <input type="text" name="nom" placeholder="Nom">
                                            <input type="text" name="number-phone" placeholder="Téléphone">
                                            <input type="password" name="number-shop"
                                                   placeholder="Créer un mot de passe">
                                            <input type="text" name="city" placeholder="Ville">
                                            <div class="submit-btn">
                                                <button class="btn-hover" type="submit">ENVOYER</button>
                                            </div>
                                        </form>-->
                                        <div class="login-social-wrap">
                                            <p>Vous avez déjà un compte ? <span style="color:#882C83;">Connexion</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-32">
                    <h1 style="color: white; font-size: 60px; margin-top: 20%;">Effectuez des livraisons avec <br>L&C
                        Mode</h1>
                    <h3 class="mt-40 mb-40" style="color: white;">Horaires flexibles. Paiement rapide.</h3>
                    <h5 class="mt-40 mb-40" style="color: white; line-height: 30px;">Vous pouvez désormais gagner de
                        l'argent en livrant les meilleurs boutiques avec L&C Mode tout en découvrant votre ville.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="service-area section-padding-1 gray-bg-4 pt-90 pb-90">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-service-wrap service-wrap-2 mb-30 text-center">
                        <div class="single-service service-style-2 padding-modif">
                            <i class="ti-car"></i>
                            <h4>Votre systéme de transport, vos horaires</h4>
                            <p>Livrez à vélo, scooter ou voiture et ce, pour une heure, un weekend,
                                ou tout au long de la semaine.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-service-wrap service-wrap-2 mb-30 text-center">
                        <div class="single-service service-style-2">
                            <i class="ti-money"></i>
                            <h4>Paiement hebdomadaire</h4>
                            <p style="margin-bottom: 30px;">Vous recevez vos paiements chaque début de semaine..</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-service-wrap service-wrap-2 mb-30 text-center">
                        <div class="single-service service-style-2">
                            <i class="ti-direction"></i>
                            <h4>Découvrez votre ville</h4>
                            <p style="margin-bottom: 30px;">Découvrez toutes les facettes de votre ville tout en effectuant des livraisons..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-100 pb-100">
        <div class="container ">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 pr-70">
                    <h3>Conditions pour devenir coursier avec L&C Mode en France.</h3>
                    <div class="single-shortcode-list mt-40 pl-30 mb-30">
                        <ul>
                            <li><i class="ti-check-box"></i> Avoir au moins 18 ans. </li>
                            <li><i class="ti-check-box"></i> Avoir une pièce d'identité valable dans l'Union Européenne. </li>
                            <li><i class="ti-check-box"></i> Être auto-entrepreneur ou avoir votre entreprise. </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <h3>Comment ça marche ?</h3>
                    <div class="single-shortcode-list mt-40 pl-30 mb-30">
                        <ul>
                            <li><i class="ti-angle-right"></i> <strong>Se connecter :</strong><br> Connectez-vous à votre compte partenaire et commencez à recevoir des propositions de commandes via L&C Mode.</li>
                            <li><i class="ti-angle-right"></i> <strong>Récupérez - Déposez :</strong><br> Un système de navigation et d'autres informations sont disponibles directement sur votre compte pour que vos livraisons se déroulent de la meilleure manière possible. </li>
                            <li><i class="ti-angle-right"></i> <strong>Gagnez de l'argent :</strong><br>Consultez vos gains et recevez vos paiements chaque semaine.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}