<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.ico" />
        <title>{% block title %}ADMIN | LC Mode{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/admin/bootstrap.min.css') }}" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

            <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
            <link href="{{ asset('css/admin/summernote.css') }}" rel="stylesheet">
            <link href="{{ asset('css/admin/summernote-bs3.css') }}" rel="stylesheet">
            <link href="{{ asset('css/admin/style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/admin/style-template.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

    <body class="">
        <div id="wrapper">
            {% include 'sidebar.html.twig' %}

            <div id="page-wrapper" class="gray-bg">
                {% include 'admin/header.html.twig' %}
                <div class="wrapper wrapper-content">
                    {% block content %}
                        {% include 'flashMessages/flash-messages.html.twig' %}

                    {% endblock %}
                </div>
                {% include 'admin/footer.html.twig' %}
            </div>

            {% block javascripts ''%}
                <!-- Mainly scripts -->
                <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
                <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
                <script src="{{ asset('js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('js/jquery.metisMenu.js') }}"></script>
                <script src="{{ asset('js/jquery.slimscroll.min.js') }}"></script>

                <!-- Custom and plugin javascript -->
                <script src="{{ asset('js/inspinia.js') }}"></script>
                <script src="{{ asset('js/pace.min.js') }}"></script>

                <!-- Textarea plugin Summernote -->
                <script src="{{ asset('js/summernote.min.js') }}"></script>

            <script>
                $(document).ready(function(){
                    $('.summernote').summernote();
                });
            </script>
        </div>
    </body>
</html>
