<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center"> <span>
                            <a target="_blanck" href="{{ path('home') }}"><img alt="image" class="img-profile" width="50%" src="{{ asset('img/logo_lc_mode.png') }}" /></a>
                             </span>
                    <a href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Las Connasses</strong>
                                    <span class="text-muted text-xs block">Super Admin</span>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'dashboard' %}active{% endif %}">
                <a href="{{ path('dashboard') }}"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'admin_users'
                        or app.request.attributes.get('_route') == 'admin_view_user' 
                        or app.request.attributes.get('_route') == 'admin_edit_user'
                        or app.request.attributes.get('_route') == 'admin_add_user' %}active{% endif %}">
                <a href="{{ path('admin_users') }}"><i class="fa fa-users"></i> <span class="nav-label">Utilisateurs</span>  </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'admin_shops'
                        or app.request.attributes.get('_route') == 'admin_add_shop' %}active{% endif %}">
                <a href="{{ path('admin_shops') }}"><i class="fa fa-shopping-bag"></i> <span class="nav-label">Boutiques</span></a>
            </li>
            <li>
                <a href=""><i class="fa fa-bicycle"></i> <span class="nav-label">Coursiers</span></a>
            </li>
            <li class="">
                <a href=""><i class="fa fa-shopping-bag"></i> <span class="nav-label">Boutique - Inscription</span></a>
            </li>
            <li class="">
                <a href=""><i class="fa fa-bicycle"></i> <span class="nav-label">Coursier - Inscription</span></a>
            </li>
        </ul>
    </div>
</nav>
