{% extends 'front/layout.html.twig' %}

{% block content %}
<div class="breadcrumb-area bg-img pt-230 pb-152 default-overlay-2" style="background-image: url('../img/banner-store.jpg');">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Nos boutiques</h2>
        </div>
    </div>
</div>

<div class="portfolio-area pt-75 pb-80 container-padding-res">
    <div class="container">
        <div class="portfolio-menu-active portfolio-menu-1 pro-menu-btn text-center mb-50">
            <button class="active" data-filter="*">Tout</button>
            <button data-filter=".cat2">Femme</button>
            <button data-filter=".cat3">Homme</button>
            <button data-filter=".cat4">Enfant</button>
        </div>
        <div class="portfolio-style pro-col-40">
            <div class="row grid" data-show="15" data-load="6">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 cat3 cat4 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="{{ asset('img/boutique/zara.jpg') }}">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Zara - <em>Paris 9ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75009 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/desigual.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Desigual - <em>Paris 11ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75011 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/selected.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Selected - <em>Paris 9ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75009 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat4 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/pareil-au-meme.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Du pareil au même - <em>Paris 8ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75008 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/celio.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Celio - <em>Paris 18ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75018 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/levis.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Levis - <em>Paris 03ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75003 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/jules.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Jules - <em>Paris 06ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75006 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat2 cat3 cat4 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/h&m.jpeg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">h&m - <em>Paris 06ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75006 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/pull&bear.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Pull & Bear - <em>Paris 02ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75002 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/kooples.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">The kooples - <em>Paris 12ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75012 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/tally-weijl.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Tally Weijl - <em>Paris 15ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75015 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat4 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/sergent-major.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Sergent Major - <em>Paris 19ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75019 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/pimkie.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Pimkie - <em>Paris 07ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75007 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/jennyfer.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Jennyfer - <em>Paris 11ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75011 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat4 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/okaidi.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Okaïdi - <em>Paris 13ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75013 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/naf-naf.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Naf Naf - <em>Paris 05ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75005 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat4 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/petit-bateau.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Petit bateau - <em>Paris 02ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75002 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/gap.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Gap - <em>Paris 04ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75004 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="../img/boutique/camaieu.jpg">
                            <div class="portfolio-zoom">
                                <a href="{{ path('shop') }}"><i class="ti-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="{{ path('shop') }}">Camaïeu - <em>Paris 08ème</em></a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>75006 <i class="ti-map-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pro-load-more text-center mt-30">
                <a href="#" class="load-more-toggle default-btn btn-hover">
                    Plus de boutique
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}