<header class="header-area sticky-bar header-black-2 theme-color-hover mobile-menu-black">
  <div class="container-fluid p-0">
    <div class="header-wrap header-flex">
      <div class="logo-menu-wrap">
        <div class="mt-25 ml-20 mr-140 div-img-logo">
          <a href="{{ path('home') }}">
            <img alt="" src="../img/logo_lc_mode.png" class="img-logo">
          </a>
        </div>
        <div class="main-menu main-menu-left">
          <nav>
            <ul>
              <li><a href="{{ path('home-user') }}" class="onglet-navbar">Nos boutiques</a>
                <ul class="mega-menu mega-menu-width-img mega-hm5-img">
                  <li class="menu-img">
                    <img alt="" src="../img/product/product-1.jpg">
                  </li>
                  <li>
                    <ul>
                      <li class="mega-menu-title list-shop"><a href="#">Femme</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Desigual</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">H&M</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Jennyfer</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Naf Naf</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Pull & Bear</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Tally Weijl</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Zara</a></li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li class="mega-menu-title list-shop"><a href="#">Homme</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Celio</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">H&M</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Jules</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Levis</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Selected</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Zara</a></li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li class="mega-menu-title list-shop"><a href="#">Enfant</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Du pareil au même</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">H&M</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Okaïdi</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Petit Bateau</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Sergen Major</a></li>
                      <li class="detail-list-shop"><a href="{{ path('shop') }}">Zara</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Pages </a>
                <ul class="submenu">
                    <li class="detail-list-shop"><a href="{{ path('aboutus') }}">à propos</a></li>
                    <li class="detail-list-shop"><a href="{{ path('contact') }}">contact</a></li>
                    <li class="detail-list-shop"><a href="#">login / register</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="header-social-language mt-55">
        <div class="header-social mr-85">
          <ul>
            <a href="{{ path('home-user') }}"><button class="btn btn-connexion"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</button></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-menu-area">
      <div class="mobile-menu">
        <nav id="mobile-menu-active">
          <ul class="menu-overflow">
            <li><a href="{{ path('home-user') }}">Shop</a>
              <ul>
                <li class="mega-menu-title list-shop"><a href="#">Femme</a></li>
                  <ul>
                    <li class="detail-list-shop"><a href="{{ path('shop') }}">Desigual</a></li>
                    <li class="detail-list-shop"><a href="{{ path('shop') }}">H&M</a></li>
                    <li class="detail-list-shop"><a href="{{ path('shop') }}">Jennyfer</a></li>
                    <li class="detail-list-shop"><a href="{{ path('shop') }}">Naf Naf</a></li>
                    <li class="detail-list-shop"><a href="{{ path('shop') }}">Pull & Bear</a></li>
                    <li class="detail-list-shop"><a href="{{ path('shop') }}">Tally Weijl</a></li>
                    <li class="detail-list-shop"><a href="{{ path('shop') }}">Zara</a></li>
                  </ul>
                </li>
                <li><a href="index-5.html#">Homme</a>
                  <ul>
                    <li><a href="shop-grid-mixed.html">shop grid mixed</a></li>
                    <li><a href="shop-grid-sidebar.html">shop grid sidebar</a></li>
                    <li><a href="shop-list.html">shop list</a></li>
                    <li><a href="shop-no-gutter.html">shop no gutter</a></li>
                    <li><a href="shop-no-gutter-masonry.html">shop no gutter masonry</a></li>
                    <li><a href="shop-no-gutters-fw.html">shop no gutters fullwide</a></li>
                  </ul>
                </li>
                <li><a href="index-5.html#">Enfant</a>
                  <ul>
                    <li><a href="single-product.html">Standard style</a></li>
                    <li><a href="single-product-2.html">Tab style</a></li>
                    <li><a href="single-product-3.html">Tab style 2</a></li>
                    <li><a href="single-product-4.html">Affiliate style</a></li>
                    <li><a href="single-product-5.html">Slider style</a></li>
                    <li><a href="single-product-6.html">Sticky style</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="index.html">Pages</a>
              <ul>
                <li><a href="{{ path('aboutus') }}">about us</a></li>
                <li><a href="{{ path('contact') }}">contact</a></li>
                <li><a href="#">login / register</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Slider Start -->