{% extends 'front/layout.html.twig' %}

{% block content %}
<div class="breadcrumb-area bg-img pt-230 pb-152" style="background-image: url('../img/banner-6.jpg');">
    <div class="container">
        <div class="breadcrumb-content title-shop text-center">
            <h2>ZARA</h2>
            <ul>
                <li>Paris 9éme (75009)</li>
            </ul>
        </div>
    </div>
</div>

<div class="shop-area pt-80 pb-80 container-padding-res">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-area-wrapper pro-col-40">
                    <div class="row grid" data-show="6" data-load="2">
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier <i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span>$329</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <span class="sale">Solde</span>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier<i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span>$100</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <span class="new">New</span>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier<i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span class="old">$329</span>
                                        <span class="new">$150</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier<i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span>$200</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <span class="sale">Solde</span>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier<i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span class="old">$500</span>
                                        <span class="new">$422</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier<i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span>$175</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier<i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span>$135</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier<i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span>$166</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier<i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span class="old">$230</span>
                                        <span class="new">$120</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 item-hidden grid-item">
                            <div class="shop-wrap mb-35">
                                <div class="shop-img">
                                    <a href="{{ path('detail-product') }}">
                                        <img src="../img/product/product.jpg" alt="">
                                    </a>
                                    <span class="new">New</span>
                                    <div class="shop-hover">
                                        <div class="shop-card">
                                            <a href="#" title="Add To Cart">Ajouter au panier<i class="ti-shopping-cart"></i></a>
                                        </div>
                                        <div class="shop-wishlist">
                                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-content">
                                    <div class="shop-name">
                                        <h4><a href="{{ path('detail-product') }}">Product Name</a></h4>
                                    </div>
                                    <div class="shop-price">
                                        <span>$250</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pro-load-more load-more-border text-center mt-30">
                        <a class="load-more-toggle default-btn btn-hover" href="#">Plus de produits</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="shop-sidebar-style pr-20 sidebar-mrg">
                    <div class="pro-sidebar-search mb-55">
                        <form class="pro-sidebar-search-form" action="#">
                            <input type="text" placeholder="Recherche ...">
                            <button>
                                <i class="ti-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="sidebar-widget mb-55">
                        <h4 class="pro-sidebar-title">Filtrer par prix</h4>
                        <div class="price_filter mt-25">
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="label-input">
                                    <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                                </div>
                                <button class ="btn-filter" type="button">Filtrer</button>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Catégorie de produits</h4>
                        <div class="sidebar-categori mt-25">
                            <ul>
                                <li><a href="#">Homme  <span>(9)</span></a></li>
                                <li><a href="#">Femme  <span>(12)</span></a></li>
                                <li><a href="#">Enfant  <span>(5)</span></a></li>
                                <li><a href="#">Accessoires  <span>(16)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mt-55">
                        <h4 class="pro-sidebar-title">Tendances </h4>
                        <div class="sidebar-project-wrap mt-30">
                            <div class="single-sidebar-project">
                                <div class="sidebar-project-img">
                                    <a href="#"><img src="../img/product/product.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-project-content">
                                    <h4><a href="#">Product Name 1</a></h4>
                                    <span>$159</span>
                                </div>
                            </div>
                            <div class="single-sidebar-project">
                                <div class="sidebar-project-img">
                                    <a href="#"><img src="../img/product/product.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-project-content">
                                    <h4><a href="#">Product Name 2</a></h4>
                                    <span>$357</span>
                                </div>
                            </div>
                            <div class="single-sidebar-project">
                                <div class="sidebar-project-img">
                                    <a href="#"><img src="../img/product/product.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-project-content">
                                    <h4><a href="#">Product Name 3</a></h4>
                                    <span>$259</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}