{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center"> <span>
                            <a target="_blanck" href="{{ path('home') }}"><img alt="image" class="img-profile" width="50%" src="{{ asset('img/logo_lc_mode.png') }}" /></a>
                             </span>
                    <a href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Las Connasses</strong>
                                    <span class="text-muted text-xs block">Super Admin</span>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'dashboard' %}active{% endif %}">
                <a href="{{ path('dashboard') }}"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'admin_users'
                        or app.request.attributes.get('_route') == 'admin_view_user' 
                        or app.request.attributes.get('_route') == 'admin_edit_user'
                        or app.request.attributes.get('_route') == 'admin_add_user' %}active{% endif %}">
                <a href="{{ path('admin_users') }}"><i class="fa fa-users"></i> <span class="nav-label">Utilisateurs</span>  </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'admin_shops'
                        or app.request.attributes.get('_route') == 'admin_add_shop' %}active{% endif %}">
                <a href="{{ path('admin_shops') }}"><i class="fa fa-shopping-bag"></i> <span class="nav-label">Boutiques</span></a>
            </li>
            <li>
                <a href=""><i class="fa fa-bicycle"></i> <span class="nav-label">Coursiers</span></a>
            </li>
            <li class="">
                <a href=""><i class="fa fa-shopping-bag"></i> <span class="nav-label">Boutique - Inscription</span></a>
            </li>
            <li class="">
                <a href=""><i class="fa fa-bicycle"></i> <span class="nav-label">Coursier - Inscription</span></a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'admin_mails'
                or app.request.attributes.get('_route') == 'admin_view_mail'
                or app.request.attributes.get('_route') == 'admin_compose_mail'
                or app.request.attributes.get('_route') == 'admin_sent_mails'
                or app.request.attributes.get('_route') == 'admin_view_sent_mail' %}active{% endif %}">
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Messagerie</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{{ path('admin_mails') }}">Boîte de réception</a></li>
                    <li><a href="{{ path('admin_compose_mail') }}">Nouveau message</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% endif %}

{% if is_granted('ROLE_BOUTIQUE') %}
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element text-center"> <span>
                                <a target="_blanck" href="{{ path('home') }}"><img alt="image" class="img-profile" width="50%" src="{{ asset('img/logo_lc_mode.png') }}" /></a>
                                 </span>
                        <a href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">Las Connasses</strong>
                                        <span class="text-muted text-xs block">Zara</span>
                                    </span>
                                </span>
                        </a>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'shop_dashboard' %}active{% endif %}">
                    <a href="{{ path('shop_dashboard') }}"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'shop_catalogs'
                                or app.request.attributes.get('_route') == 'shop_view_catalog'
                                or app.request.attributes.get('_route') == 'shop_add_catalog'
                                or app.request.attributes.get('_route') == 'shop_edit_catalog' %}active{% endif %}">
                    <a href="{{ path('shop_catalogs') }}"><i class="fa fa-image"></i> <span class="nav-label">Catalogue</span>  </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'shop_customers'
                                or app.request.attributes.get('_route') == 'shop_view_customer'
                                or app.request.attributes.get('_route') == 'shop_add_customer'
                                or app.request.attributes.get('_route') == 'shop_edit_customer' %}active{% endif %}">
                    <a href="{{ path('shop_customers') }}"><i class="fa fa-users"></i> <span class="nav-label">Clients</span></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-shopping-bag"></i> <span class="nav-label">Commandes</span></a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}
